*{
  background-color: #45b8ac;
  font-family: Arial;
  text-align: center;
}
a {
  color:#235c57;
}
header{
  color:#daf1ef;
  font-size: 20px;
  letter-spacing: 3px;
  border: 2px #daf1ef;
  border-style: double;
  border-radius: 15px;

}
h1{
  color: #b5e3de;
  text-shadow: 2px 2px 5px #daf1ef;
}
hr{
  border: 2px solid #daf1ef;
}
body{
  color:#daf1ef
}

footer{
  color: #235c57;
  border: 2px #daf1ef;
  border-style: double;
  border-radius: 15px;
}
